 * {
  margin: 0;
  padding: 0;
 }

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #F8F9FD;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root{
  width: 100vw;
  overflow: auto;
  height: 100vh;
}